@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
QMainWindow#MainWindow{
    background-color: #FFFFFF;
}
/*******************/
/*    PhotoCard    */
/*******************/
QWidget#PhotoCard{
    background-color: #FFFFFF;
}
QWidget#PhotoCard QWidget#main_widget {
    border-radius: 15px
}
QWidget#PhotoCard QFrame#photo{
    border-radius: 15px;
}
QWidget#PhotoCard QFrame#photo QFrame#main_color_frame{
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: red;
    margin: 0px 4px 0px 0px;
}
QWidget#PhotoCard QLabel{
    color: #B3B2B2;
    font-size: 11px;
    font-weight: 300;
}
QWidget#PhotoCard QLabel#desc_label, QWidget#PhotoCard QLabel#ress_label, QWidget#PhotoCard QLabel#keyw_label, QWidget#PhotoCard QGroupBox#stars_group QLabel#title{
    font-weight: bold;
    color: #575656;
}
QWidget#PhotoCard QLabel#date_label{
    font-size: 11px;
    font-weight: 600;
    color: #575656;
}
QWidget#PhotoCard QLabel#info_label{
    font-size: 10px;
}
QWidget#PhotoCard QScrollArea, QWidget#PhotoCard QScrollArea QWidget, QWidget#PhotoCard QScrollArea QWidget QWidget, QWidget#PhotoCard QScrollArea QWidget QWidget QHBoxLayout{
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
QWidget#PhotoCard QScrollArea > QWidget > QScrollBar {
    background: palette(base);
}
QWidget#PhotoCard QGroupBox#stars_group{
    color: #575656;
    padding: 0;
    border: 0;
}
QWidget#PhotoCard QGroupBox#stars_group QFrame#star1_frame,
QWidget#PhotoCard QGroupBox#stars_group QFrame#star2_frame,
QWidget#PhotoCard QGroupBox#stars_group QFrame#star3_frame,
QWidget#PhotoCard QGroupBox#stars_group QFrame#star4_frame,
QWidget#PhotoCard QGroupBox#stars_group QFrame#star5_frame{
    border-image: url(:/image/resources/star_empty.png) 0 0 0 0 stretch stretch;
}
